#siparioLeft.mc_curtain0000 {
	background-position: 0px 0px;
	width: 602px;
	height: 542px;
}
#siparioLeft.mc_curtain0001 {
	background-position: 0px 0px;
	width: 602px;
	height: 542px;
}
#siparioLeft.mc_curtain0002 {
	background-position: -602px 0px;
	width: 601px;
	height: 542px;
}
#siparioLeft.mc_curtain0003 {
	background-position: -1203px 0px;
	width: 600px;
	height: 542px;
}
#siparioLeft.mc_curtain0004 {
	background-position: -1803px 0px;
	width: 599px;
	height: 542px;
}
#siparioLeft.mc_curtain0005 {
	background-position: -2402px 0px;
	width: 597px;
	height: 542px;
}
#siparioLeft.mc_curtain0006 {
	background-position: -2999px 0px;
	width: 595px;
	height: 542px;
}
#siparioLeft.mc_curtain0007 {
	background-position: -3594px 0px;
	width: 593px;
	height: 542px;
}
#siparioLeft.mc_curtain0008 {
	background-position: -4187px 0px;
	width: 591px;
	height: 542px;
}
#siparioLeft.mc_curtain0009 {
	background-position: -4778px 0px;
	width: 588px;
	height: 542px;
}
#siparioLeft.mc_curtain0010 {
	background-position: -5366px 0px;
	width: 585px;
	height: 542px;
}
#siparioLeft.mc_curtain0011 {
	background-position: -5951px 0px;
	width: 581px;
	height: 542px;
}
#siparioLeft.mc_curtain0012 {
	background-position: -6532px 0px;
	width: 577px;
	height: 542px;
}
#siparioLeft.mc_curtain0013 {
	background-position: -7109px 0px;
	width: 576px;
	height: 543px;
}
#siparioLeft.mc_curtain0014 {
	background-position: 0px -543px;
	width: 574px;
	height: 543px;
}
#siparioLeft.mc_curtain0015 {
	background-position: -574px -543px;
	width: 572px;
	height: 543px;
}
#siparioLeft.mc_curtain0016 {
	background-position: -1146px -543px;
	width: 570px;
	height: 543px;
}
#siparioLeft.mc_curtain0017 {
	background-position: -1716px -543px;
	width: 567px;
	height: 543px;
}
#siparioLeft.mc_curtain0018 {
	background-position: -2283px -543px;
	width: 564px;
	height: 543px;
}
#siparioLeft.mc_curtain0019 {
	background-position: -2847px -543px;
	width: 558px;
	height: 543px;
}
#siparioLeft.mc_curtain0020 {
	background-position: -3405px -543px;
	width: 552px;
	height: 543px;
}
#siparioLeft.mc_curtain0021 {
	background-position: -3957px -543px;
	width: 547px;
	height: 543px;
}
#siparioLeft.mc_curtain0022 {
	background-position: -4504px -543px;
	width: 535px;
	height: 543px;
}
#siparioLeft.mc_curtain0023 {
	background-position: -5039px -543px;
	width: 525px;
	height: 543px;
}
#siparioLeft.mc_curtain0024 {
	background-position: -5564px -543px;
	width: 515px;
	height: 543px;
}
#siparioLeft.mc_curtain0025 {
	background-position: -6079px -543px;
	width: 503px;
	height: 543px;
}
#siparioLeft.mc_curtain0026 {
	background-position: -6582px -543px;
	width: 491px;
	height: 543px;
}
#siparioLeft.mc_curtain0027 {
	background-position: -7073px -543px;
	width: 478px;
	height: 543px;
}
#siparioLeft.mc_curtain0028 {
	background-position: -7551px -543px;
	width: 468px;
	height: 543px;
}
#siparioLeft.mc_curtain0029 {
	background-position: 0px -1086px;
	width: 458px;
	height: 543px;
}
#siparioLeft.mc_curtain0030 {
	background-position: -458px -1086px;
	width: 449px;
	height: 543px;
}
#siparioLeft.mc_curtain0031 {
	background-position: -907px -1086px;
	width: 438px;
	height: 543px;
}
#siparioLeft.mc_curtain0032 {
	background-position: -1345px -1086px;
	width: 428px;
	height: 543px;
}
#siparioLeft.mc_curtain0033 {
	background-position: -1773px -1086px;
	width: 416px;
	height: 543px;
}
#siparioLeft.mc_curtain0034 {
	background-position: -2189px -1086px;
	width: 406px;
	height: 543px;
}
#siparioLeft.mc_curtain0035 {
	background-position: -2595px -1086px;
	width: 396px;
	height: 543px;
}
#siparioLeft.mc_curtain0036 {
	background-position: -2991px -1086px;
	width: 384px;
	height: 543px;
}
#siparioLeft.mc_curtain0037 {
	background-position: -3375px -1086px;
	width: 374px;
	height: 543px;
}
#siparioLeft.mc_curtain0038 {
	background-position: -3749px -1086px;
	width: 362px;
	height: 543px;
}
#siparioLeft.mc_curtain0039 {
	background-position: -4111px -1086px;
	width: 350px;
	height: 542px;
}
#siparioLeft.mc_curtain0040 {
	background-position: -4461px -1086px;
	width: 340px;
	height: 543px;
}
#siparioLeft.mc_curtain0041 {
	background-position: -4801px -1086px;
	width: 327px;
	height: 542px;
}
#siparioLeft.mc_curtain0042 {
	background-position: -5128px -1086px;
	width: 315px;
	height: 542px;
}
#siparioLeft.mc_curtain0043 {
	background-position: -5443px -1086px;
	width: 304px;
	height: 542px;
}
#siparioLeft.mc_curtain0044 {
	background-position: -5747px -1086px;
	width: 296px;
	height: 542px;
}
#siparioLeft.mc_curtain0045 {
	background-position: -6043px -1086px;
	width: 288px;
	height: 543px;
}
#siparioLeft.mc_curtain0046 {
	background-position: -6331px -1086px;
	width: 280px;
	height: 542px;
}
#siparioLeft.mc_curtain0047 {
	background-position: -6611px -1086px;
	width: 272px;
	height: 542px;
}
#siparioLeft.mc_curtain0048 {
	background-position: -6883px -1086px;
	width: 266px;
	height: 542px;
}
#siparioLeft.mc_curtain0049 {
	background-position: -7149px -1086px;
	width: 259px;
	height: 542px;
}
#siparioLeft.mc_curtain0050 {
	background-position: -7408px -1086px;
	width: 254px;
	height: 542px;
}
#siparioLeft.mc_curtain0051 {
	background-position: -7662px -1086px;
	width: 247px;
	height: 542px;
}
#siparioLeft.mc_curtain0052 {
	background-position: -7909px -1086px;
	width: 242px;
	height: 542px;
}
#siparioLeft.mc_curtain0053 {
	background-position: 0px -1629px;
	width: 238px;
	height: 543px;
}
#siparioLeft.mc_curtain0054 {
	background-position: -238px -1629px;
	width: 234px;
	height: 543px;
}
#siparioLeft.mc_curtain0055 {
	background-position: -472px -1629px;
	width: 229px;
	height: 543px;
}
#siparioLeft.mc_curtain0056 {
	background-position: -701px -1629px;
	width: 225px;
	height: 542px;
}
#siparioLeft.mc_curtain0057 {
	background-position: -926px -1629px;
	width: 222px;
	height: 542px;
}
#siparioLeft.mc_curtain0058 {
	background-position: -1148px -1629px;
	width: 220px;
	height: 542px;
}
#siparioLeft.mc_curtain0059 {
	background-position: -1368px -1629px;
	width: 218px;
	height: 542px;
}
#siparioLeft.mc_curtain0060 {
	background-position: -1586px -1629px;
	width: 221px;
	height: 542px;
}
#siparioLeft.mc_curtain0061 {
	background-position: -1807px -1629px;
	width: 225px;
	height: 542px;
}
#siparioLeft.mc_curtain0062 {
	background-position: -2032px -1629px;
	width: 229px;
	height: 542px;
}
#siparioLeft.mc_curtain0063 {
	background-position: -2261px -1629px;
	width: 235px;
	height: 543px;
}
#siparioLeft.mc_curtain0064 {
	background-position: -2496px -1629px;
	width: 239px;
	height: 543px;
}
#siparioLeft.mc_curtain0065 {
	background-position: -2735px -1629px;
	width: 243px;
	height: 543px;
}
#siparioLeft.mc_curtain0066 {
	background-position: -2978px -1629px;
	width: 249px;
	height: 543px;
}
#siparioLeft.mc_curtain0067 {
	background-position: -3227px -1629px;
	width: 251px;
	height: 543px;
}
#siparioLeft.mc_curtain0068 {
	background-position: -3478px -1629px;
	width: 256px;
	height: 542px;
}
#siparioLeft.mc_curtain0069 {
	background-position: -3734px -1629px;
	width: 261px;
	height: 542px;
}
#siparioLeft.mc_curtain0070 {
	background-position: -3995px -1629px;
	width: 265px;
	height: 542px;
}
#siparioLeft.mc_curtain0071 {
	background-position: -4260px -1629px;
	width: 272px;
	height: 542px;
}
#siparioLeft.mc_curtain0072 {
	background-position: -4532px -1629px;
	width: 279px;
	height: 542px;
}
#siparioLeft.mc_curtain0073 {
	background-position: -4811px -1629px;
	width: 287px;
	height: 542px;
}
#siparioLeft.mc_curtain0074 {
	background-position: -5098px -1629px;
	width: 298px;
	height: 542px;
}
#siparioLeft.mc_curtain0075 {
	background-position: -5396px -1629px;
	width: 307px;
	height: 542px;
}
#siparioLeft.mc_curtain0076 {
	background-position: -5703px -1629px;
	width: 317px;
	height: 542px;
}
#siparioLeft.mc_curtain0077 {
	background-position: -6020px -1629px;
	width: 325px;
	height: 542px;
}
#siparioLeft.mc_curtain0078 {
	background-position: -6345px -1629px;
	width: 334px;
	height: 542px;
}
#siparioLeft.mc_curtain0079 {
	background-position: -6679px -1629px;
	width: 343px;
	height: 542px;
}
#siparioLeft.mc_curtain0080 {
	background-position: -7022px -1629px;
	width: 351px;
	height: 542px;
}
#siparioLeft.mc_curtain0081 {
	background-position: -7373px -1629px;
	width: 358px;
	height: 542px;
}
#siparioLeft.mc_curtain0082 {
	background-position: -7731px -1629px;
	width: 367px;
	height: 542px;
}
#siparioLeft.mc_curtain0083 {
	background-position: 0px -2172px;
	width: 375px;
	height: 542px;
}
#siparioLeft.mc_curtain0084 {
	background-position: -375px -2172px;
	width: 384px;
	height: 543px;
}
#siparioLeft.mc_curtain0085 {
	background-position: -759px -2172px;
	width: 394px;
	height: 542px;
}
#siparioLeft.mc_curtain0086 {
	background-position: -1153px -2172px;
	width: 404px;
	height: 542px;
}
#siparioLeft.mc_curtain0087 {
	background-position: -1557px -2172px;
	width: 415px;
	height: 542px;
}
#siparioLeft.mc_curtain0088 {
	background-position: -1972px -2172px;
	width: 425px;
	height: 542px;
}
#siparioLeft.mc_curtain0089 {
	background-position: -2397px -2172px;
	width: 437px;
	height: 542px;
}
#siparioLeft.mc_curtain0090 {
	background-position: -2834px -2172px;
	width: 448px;
	height: 542px;
}
#siparioLeft.mc_curtain0091 {
	background-position: -3282px -2172px;
	width: 455px;
	height: 542px;
}
#siparioLeft {
	width: 455px;
	height: 542px;
	position: absolute;
	background-image: url(sprite/siparioLeft.jpg);
	right: -90px;
	top: 100px;
	z-index: 2;
}
#siparioRight.mc_curtain0000 {
	background-position: 0px 0px;
	width: 602px;
	height: 542px;
}
#siparioRight.mc_curtain0001 {
	background-position: 0px 0px;
	width: 602px;
	height: 542px;
}
#siparioRight.mc_curtain0002 {
	background-position: -602px 0px;
	width: 601px;
	height: 542px;
}
#siparioRight.mc_curtain0003 {
	background-position: -1203px 0px;
	width: 600px;
	height: 542px;
}
#siparioRight.mc_curtain0004 {
	background-position: -1803px 0px;
	width: 599px;
	height: 542px;
}
#siparioRight.mc_curtain0005 {
	background-position: -2402px 0px;
	width: 597px;
	height: 542px;
}
#siparioRight.mc_curtain0006 {
	background-position: -2999px 0px;
	width: 595px;
	height: 542px;
}
#siparioRight.mc_curtain0007 {
	background-position: -3594px 0px;
	width: 593px;
	height: 542px;
}
#siparioRight.mc_curtain0008 {
	background-position: -4187px 0px;
	width: 591px;
	height: 542px;
}
#siparioRight.mc_curtain0009 {
	background-position: -4778px 0px;
	width: 588px;
	height: 542px;
}
#siparioRight.mc_curtain0010 {
	background-position: -5366px 0px;
	width: 585px;
	height: 542px;
}
#siparioRight.mc_curtain0011 {
	background-position: -5951px 0px;
	width: 581px;
	height: 542px;
}
#siparioRight.mc_curtain0012 {
	background-position: -6532px 0px;
	width: 577px;
	height: 542px;
}
#siparioRight.mc_curtain0013 {
	background-position: -7109px 0px;
	width: 576px;
	height: 543px;
}
#siparioRight.mc_curtain0014 {
	background-position: 0px -543px;
	width: 574px;
	height: 543px;
}
#siparioRight.mc_curtain0015 {
	background-position: -574px -543px;
	width: 572px;
	height: 543px;
}
#siparioRight.mc_curtain0016 {
	background-position: -1146px -543px;
	width: 570px;
	height: 543px;
}
#siparioRight.mc_curtain0017 {
	background-position: -1716px -543px;
	width: 567px;
	height: 543px;
}
#siparioRight.mc_curtain0018 {
	background-position: -2283px -543px;
	width: 564px;
	height: 543px;
}
#siparioRight.mc_curtain0019 {
	background-position: -2847px -543px;
	width: 558px;
	height: 543px;
}
#siparioRight.mc_curtain0020 {
	background-position: -3405px -543px;
	width: 552px;
	height: 543px;
}
#siparioRight.mc_curtain0021 {
	background-position: -3957px -543px;
	width: 547px;
	height: 543px;
}
#siparioRight.mc_curtain0022 {
	background-position: -4504px -543px;
	width: 535px;
	height: 543px;
}
#siparioRight.mc_curtain0023 {
	background-position: -5039px -543px;
	width: 525px;
	height: 543px;
}
#siparioRight.mc_curtain0024 {
	background-position: -5564px -543px;
	width: 515px;
	height: 543px;
}
#siparioRight.mc_curtain0025 {
	background-position: -6079px -543px;
	width: 503px;
	height: 543px;
}
#siparioRight.mc_curtain0026 {
	background-position: -6582px -543px;
	width: 491px;
	height: 543px;
}
#siparioRight.mc_curtain0027 {
	background-position: -7073px -543px;
	width: 478px;
	height: 543px;
}
#siparioRight.mc_curtain0028 {
	background-position: -7551px -543px;
	width: 468px;
	height: 543px;
}
#siparioRight.mc_curtain0029 {
	background-position: 0px -1086px;
	width: 458px;
	height: 543px;
}
#siparioRight.mc_curtain0030 {
	background-position: -458px -1086px;
	width: 449px;
	height: 543px;
}
#siparioRight.mc_curtain0031 {
	background-position: -907px -1086px;
	width: 438px;
	height: 543px;
}
#siparioRight.mc_curtain0032 {
	background-position: -1345px -1086px;
	width: 428px;
	height: 543px;
}
#siparioRight.mc_curtain0033 {
	background-position: -1773px -1086px;
	width: 416px;
	height: 543px;
}
#siparioRight.mc_curtain0034 {
	background-position: -2189px -1086px;
	width: 406px;
	height: 543px;
}
#siparioRight.mc_curtain0035 {
	background-position: -2595px -1086px;
	width: 396px;
	height: 543px;
}
#siparioRight.mc_curtain0036 {
	background-position: -2991px -1086px;
	width: 384px;
	height: 543px;
}
#siparioRight.mc_curtain0037 {
	background-position: -3375px -1086px;
	width: 374px;
	height: 543px;
}
#siparioRight.mc_curtain0038 {
	background-position: -3749px -1086px;
	width: 362px;
	height: 543px;
}
#siparioRight.mc_curtain0039 {
	background-position: -4111px -1086px;
	width: 350px;
	height: 542px;
}
#siparioRight.mc_curtain0040 {
	background-position: -4461px -1086px;
	width: 340px;
	height: 543px;
}
#siparioRight.mc_curtain0041 {
	background-position: -4801px -1086px;
	width: 327px;
	height: 542px;
}
#siparioRight.mc_curtain0042 {
	background-position: -5128px -1086px;
	width: 315px;
	height: 542px;
}
#siparioRight.mc_curtain0043 {
	background-position: -5443px -1086px;
	width: 304px;
	height: 542px;
}
#siparioRight.mc_curtain0044 {
	background-position: -5747px -1086px;
	width: 296px;
	height: 542px;
}
#siparioRight.mc_curtain0045 {
	background-position: -6043px -1086px;
	width: 288px;
	height: 543px;
}
#siparioRight.mc_curtain0046 {
	background-position: -6331px -1086px;
	width: 280px;
	height: 542px;
}
#siparioRight.mc_curtain0047 {
	background-position: -6611px -1086px;
	width: 272px;
	height: 542px;
}
#siparioRight.mc_curtain0048 {
	background-position: -6883px -1086px;
	width: 266px;
	height: 542px;
}
#siparioRight.mc_curtain0049 {
	background-position: -7149px -1086px;
	width: 259px;
	height: 542px;
}
#siparioRight.mc_curtain0050 {
	background-position: -7408px -1086px;
	width: 254px;
	height: 542px;
}
#siparioRight.mc_curtain0051 {
	background-position: -7662px -1086px;
	width: 247px;
	height: 542px;
}
#siparioRight.mc_curtain0052 {
	background-position: -7909px -1086px;
	width: 242px;
	height: 542px;
}
#siparioRight.mc_curtain0053 {
	background-position: 0px -1629px;
	width: 238px;
	height: 543px;
}
#siparioRight.mc_curtain0054 {
	background-position: -238px -1629px;
	width: 234px;
	height: 543px;
}
#siparioRight.mc_curtain0055 {
	background-position: -472px -1629px;
	width: 229px;
	height: 543px;
}
#siparioRight.mc_curtain0056 {
	background-position: -701px -1629px;
	width: 225px;
	height: 542px;
}
#siparioRight.mc_curtain0057 {
	background-position: -926px -1629px;
	width: 222px;
	height: 542px;
}
#siparioRight.mc_curtain0058 {
	background-position: -1148px -1629px;
	width: 220px;
	height: 542px;
}
#siparioRight.mc_curtain0059 {
	background-position: -1368px -1629px;
	width: 218px;
	height: 542px;
}
#siparioRight.mc_curtain0060 {
	background-position: -1586px -1629px;
	width: 221px;
	height: 542px;
}
#siparioRight.mc_curtain0061 {
	background-position: -1807px -1629px;
	width: 225px;
	height: 542px;
}
#siparioRight.mc_curtain0062 {
	background-position: -2032px -1629px;
	width: 229px;
	height: 542px;
}
#siparioRight.mc_curtain0063 {
	background-position: -2261px -1629px;
	width: 235px;
	height: 543px;
}
#siparioRight.mc_curtain0064 {
	background-position: -2496px -1629px;
	width: 239px;
	height: 543px;
}
#siparioRight.mc_curtain0065 {
	background-position: -2735px -1629px;
	width: 243px;
	height: 543px;
}
#siparioRight.mc_curtain0066 {
	background-position: -2978px -1629px;
	width: 249px;
	height: 543px;
}
#siparioRight.mc_curtain0067 {
	background-position: -3227px -1629px;
	width: 251px;
	height: 543px;
}
#siparioRight.mc_curtain0068 {
	background-position: -3478px -1629px;
	width: 256px;
	height: 542px;
}
#siparioRight.mc_curtain0069 {
	background-position: -3734px -1629px;
	width: 261px;
	height: 542px;
}
#siparioRight.mc_curtain0070 {
	background-position: -3995px -1629px;
	width: 265px;
	height: 542px;
}
#siparioRight.mc_curtain0071 {
	background-position: -4260px -1629px;
	width: 272px;
	height: 542px;
}
#siparioRight.mc_curtain0072 {
	background-position: -4532px -1629px;
	width: 279px;
	height: 542px;
}
#siparioRight.mc_curtain0073 {
	background-position: -4811px -1629px;
	width: 287px;
	height: 542px;
}
#siparioRight.mc_curtain0074 {
	background-position: -5098px -1629px;
	width: 298px;
	height: 542px;
}
#siparioRight.mc_curtain0075 {
	background-position: -5396px -1629px;
	width: 307px;
	height: 542px;
}
#siparioRight.mc_curtain0076 {
	background-position: -5703px -1629px;
	width: 317px;
	height: 542px;
}
#siparioRight.mc_curtain0077 {
	background-position: -6020px -1629px;
	width: 325px;
	height: 542px;
}
#siparioRight.mc_curtain0078 {
	background-position: -6345px -1629px;
	width: 334px;
	height: 542px;
}
#siparioRight.mc_curtain0079 {
	background-position: -6679px -1629px;
	width: 343px;
	height: 542px;
}
#siparioRight.mc_curtain0080 {
	background-position: -7022px -1629px;
	width: 351px;
	height: 542px;
}
#siparioRight.mc_curtain0081 {
	background-position: -7373px -1629px;
	width: 358px;
	height: 542px;
}
#siparioRight.mc_curtain0082 {
	background-position: -7731px -1629px;
	width: 367px;
	height: 542px;
}
#siparioRight.mc_curtain0083 {
	background-position: 0px -2172px;
	width: 375px;
	height: 542px;
}
#siparioRight.mc_curtain0084 {
	background-position: -375px -2172px;
	width: 384px;
	height: 543px;
}
#siparioRight.mc_curtain0085 {
	background-position: -759px -2172px;
	width: 394px;
	height: 542px;
}
#siparioRight.mc_curtain0086 {
	background-position: -1153px -2172px;
	width: 404px;
	height: 542px;
}
#siparioRight.mc_curtain0087 {
	background-position: -1557px -2172px;
	width: 415px;
	height: 542px;
}
#siparioRight.mc_curtain0088 {
	background-position: -1972px -2172px;
	width: 425px;
	height: 542px;
}
#siparioRight.mc_curtain0089 {
	background-position: -2397px -2172px;
	width: 437px;
	height: 542px;
}
#siparioRight.mc_curtain0090 {
	background-position: -2834px -2172px;
	width: 448px;
	height: 542px;
}
#siparioRight.mc_curtain0091 {
	background-position: -3282px -2172px;
	width: 455px;
	height: 542px;
}
#siparioRight {
	width: 455px;
	height: 542px;
	position: absolute;
	background-image: url(sprite/siparioRight.jpg);
		left: -90px;
	top: 100px;
	z-index: 2;
}
